/Debug/
/.settings/
*.launch
/build/
.cache/
*.jdebug*
*.dbgconf*
#Ignore Keil specific backup and configuration files
# User-specific uVision files
*.opt
*.uvopt
*.uvoptx
*.uvgui
*.uvgui.*
*.uvguix.*
*.uvgui.*      
*.uvoptx.bak   
*.uvprojx.bak  

# Ignore build and output files
*.lst
*.crf
*.map
*.o
*.axf
*.elf
*.hex
*.sct
*.d  
*.htm
*.iex
*.dep
# Ignore user-specific temporary files
*.bak
*.log
*.tmp
*.lnp
MDK-ARM/.vscode/
build/
.cache/
.agents
.code_temp/
__pycache__/
AGENTS.md
.agent_prompts/

# 忽略CubeMX生成的所有文件
/Middlewares/
/Drivers/
/cmake/
/Core/
/MDK-ARM/
.mxproject
CMakeLists.txt
CMakePresets.json
*.ioc
*.s
*.ld

MDK-ARM/RTE/_GeneralFramework/RTE_Components.h
